.loader-div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loader{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 10px dotted grey;
  animation: spin 3.5s linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}